<% content_for :title do %>about this is what you are missing.<% end %>

<br/>
<div class="copy-container">
  <div class="copy-sub-container">
    <h2>About the Project</h2>
    <hr />
    <p>
      Complex systems of copyright and distribution create borders in digital space that follow the national borders of physical space. They do so by allowing or limiting access to Internet media content based on geographic location. These practices raise questions about globalization, citizenship on and offline, and the openness of the web. The fact that content access is tied to IP address further complicates these questions. For example, should a nation’s citizen be permitted to view the content of her or his country while travelling abroad? Furthermore, what does limiting distribution based on IP address achieve?
    </p>
    <p>
      This project examines the issues surrounding media access as dictated by commercial interests. It aims to highlight  the limits of accessibility on YouTube and amplify the experience of frustration and powerlessness when access is denied by overwhelming the user with videos blocked in their region. The user may also utilize the ‘Cross Borders’ feature to view content blocked in other countries. 
    </p>
  </div>

  <div class="copy-sub-container">
    <h2>About Us</h2>
    <hr />

    <div class="name-container">
      <h4>Maya Livio</h4>
      <p>
        Born and raised in Tel Aviv, I later moved to the United States and earned a Bachelor’s degree in Art from the University of Maryland with a focus on video and drawing. For the last few years, I have worked as a graphic designer and the manager of a creative services department in Baltimore.  I have also worked for the American Film Institute, a contemporary art gallery, and as an arts instructor. I am currently pursuing a Master’s degree in New Media at the University of Amsterdam with research interests including new media art, intimacy, sexuality, and education.
      </p>
    </div>

    <div class="name-container">
      <h4>Audrika Rakshit</h4>
      <p>
        Originally from New Delhi, India, I now live in Amsterdam and follow the MA New Media and Digital Culture programme at the University of Amsterdam. I have an interest in independent/alternative music, literary modernism, films, digital marketing, and the cross-section of culture and new media.
      </p>
    </div>

    <div class="name-container">
      <h4>Sophie Waterloo</h4>
      <p>
        I obtained my Bachelor’s degree in Communication Science in 2011 at UvA after writing a thesis on the influence of sound in video games. After some travelling and working as a web editor, I decided that I wanted to get a Master’s degree in New Media.
      </p>
    </div>

    <div class="name-container">
      <h4>Geoff Kim</h4>
      <p>
        I am an artist currently based in Amsterdam, NL. Originally from San Francisco, I received my Bachelor's degree in Media studies and Fine Art from New School University in New York. I am currently enrolled in the New Media Master's program at the University of Amsterdam.
      </p>
    </div>

    <div class="name-container">
      <h4>Basri Hoogstrate</h4>
      <p>
        I was born in Hengelo, Netherlands and moved to Groningen to receive a BA in Communication. I then worked for a few years in the fundraising industry and earned a second BA in Media & Culture at the University of Amsterdam. I now work for Dutchwebshark, and am enrolled in the Master's program in New Media & Digital Culture at the University of Amsterdam.
      </p>
    </div>
  </div>

  <div class="copy-sub-container">
    <h2>For Programming Help We Would Like to Thank:</h2>
    <hr />
    <h4>Oren Mittman</h4>
    <p>
      I received a BA in Mathematics from Johns Hopkins University in Baltimore, Maryland. After graduating, I stayed in Baltimore where I work as a web developer at an e-commerce startup. I am interested in programming languages and statistics.
    </p>
  </div>
</div>