<html>
<head>
  <title>thisiswhatyouaremissing</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>

<script>
  var vacancies = [];
  for (i = 0; i < 16; i++) { vacancies.push(i); }

  var fetch = function () {
    $.getJSON('/fetch<%= @country ? "?country=#{@country}" : ""%>', function (data) {
      $.each(data, function (idx, video) {
        if (vacancies.length > 0) {
          var idx = vacancies.splice(Math.floor(Math.random()*vacancies.length),1);
          $('.slot-empty.' + idx).html(video);
          $('.slot-cover.' + idx).addClass('covered');
        }
      });
      if (vacancies.length > 0) { fetch(); }
    });
  };

  var poll = function () {
    setInterval(function () {
      $('.covered').fadeTo(1000, 0, function () {
        this.css('z-index', '-1')
      });
    }, 1000);
  };

  fetch();
  poll();
</script>