<html>
<head>
  <title>thisiswhatyouaremissing.</title>
  <link rel="stylesheet" type="text/css" href="/css/chosen.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
  <%= yield %>
</body>
</html>
<%= yield_content :script %>