<html>
<head>
  <title>thisiswhatyouaremissing</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&sensor=true"></script>
</head>
<body>
  <%= yield %>
</body>
</html>

<script>
  var vacancies = [];
  for (i = 0; i < 16; i++) { vacancies.push(i); }

  var fetch = function () {
    $.getJSON('/fetch<%= @country ? "?country=#{@country}" : "" %>', function (data) {
      $.each(data, function (idx, video) {
        if (vacancies.length > 0) {
          $('#' + vacancies.splice(Math.floor(Math.random()*vacancies.length),1)).html(video);
        }
      });
      if (vacancies.length > 0) { fetch(country); }
    });
  };

  fetch();
</script>