<html>
<head>
  <title>thisiswhatyouaremissing.</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/chosen.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
  <%= yield %>

  <div id="background-container">
    <div id="header">
      <div id="controls-container">
        <div id="controls-sub-container">

          <div id="select-container">
            <%= erb :select %>
          </div>

          <button id="main-button" class="btn btn-small btn-info">Cross Borders</button>
        </div>
      </div>
    </div>

    <div id="footer">
      <div id="nav-container">
        <a href="/about" target="_blank">About</a>
        <a href="/visa" target="_blank">Get A Visa</a>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script>
  // jQuery
  $('.chzn-select').chosen({
    allow_single_deselect: true,
    no_results_text:       "No results matched"
  });

  $('select').val(sessionStorage.getItem('country'));
  $('.chzn-select').trigger('liszt:updated');

  $('#main-button').click(function () {
    sessionStorage.setItem('country', $('select').val());
    restartFetch();
  });

  $('.chzn-container').click(function () {
    var containerTop, footerTop, backgroundHeight;

    if (!$('.chzn-single').hasClass('chzn-single-with-drop')) {
      containerTop     = '100px';
      footerTop        = '1360px';
      backgroundHeight = '1560px';
    }
    else {
      containerTop     = '350px';
      footerTop        = '1610px';
      backgroundHeight = '1810px';
    }

    $('#container').css('top', containerTop);
    $('#footer').css('top', footerTop);
    $('#background-container').css('height', backgroundHeight);
  });

  // HELPERS
  var popRandom = function (array) {
    return array.splice(Math.floor(Math.random()*array.length),1);
  };

  var initVacancies = function () {
    var arr = [];
    for (var i = 0; i < $('.slot').length; i+=1) { arr.push(i); }

    return arr;
  };

  // COUNTRY
  var getCountry = function () {
    var country = sessionStorage.getItem('country');

    return country == "" ? null : country;
  };

  // PAGING
  var page = parseInt(sessionStorage.getItem('page') || 1);

  var incrementPage = function () {
    page = page + 1;
    /*but*/ if (page >= 21) { page = 1; }

    sessionStorage.setItem('page', page);
  };

  // SEARCH WORDS
  var searchWords = <%= yield_content :script %>;
  var unusedWords = sessionStorage.getItem('unusedWords');

  var repopulateUnusedWords = function() {
    unusedWords = []; for (var i = 0; i < searchWords.length; i+=1) { unusedWords.push(i); }
  };

  if (unusedWords) {
    unusedWords = $.map(unusedWords.split(','), function (el, idx) { return parseInt(el); });
  }
  else {
    repopulateUnusedWords();
  }

  var getSearchWord = function () {
    var word = searchWords[popRandom(unusedWords)];

    if (unusedWords.length == 0) {
      incrementPage();
      repopulateUnusedWords();
    }

    sessionStorage.setItem('unusedWords', unusedWords);

    return word;
  };

  // RESULTS
  var restartFetch = function () {
    $('.slot').html('');
    vacancies = initVacancies();
    fetch();
  };

  var requestData = {};
  var vacancies   = initVacancies();

  var fetch = function () {
    requestData['page']    = page;
    requestData['query']   = getSearchWord();
    requestData['country'] = getCountry() || "<%= @country %>";

    $.getJSON('/fetch', requestData, function (responseData) {
      $.each(responseData, function (idx, video) {
        if (vacancies.length > 0) {
          var slotId = popRandom(vacancies);

          $('#' + slotId).html(video);
        }
      });

      if (vacancies.length > 0) {
        fetch();
      }
      else {
        $('#main-button').removeClass('disabled');
        $('#main-button').addClass('enabled');
      }
    });
  };

  fetch();
</script>