<html>
<head>
  <title>thisiswhatyouaremissing</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>

<script>
  var vacancies = [];
  for (var i = 0; i < 16; i+=1) { vacancies.push(i); }

  var getPage = function () {
    return sessionStorage.getItem('page') || 1;
  };

  var incrementPage = function () {
    sessionStorage.setItem('page', parseInt(getPage()) + 1);
  };

  var requestData = {
    <% if @country %>
      'country' : <%= @country %>
    <% end %>
  };

  var fetch = function () {
    requestData['page'] = getPage();

    $.getJSON('/fetch', requestData, function (responseData) {
      $.each(responseData, function (idx, video) {
        if (vacancies.length > 0) {
          var slotId = vacancies.splice(Math.floor(Math.random()*vacancies.length),1);

          $('#' + slotId).html(video);
        }
      });

      if (vacancies.length > 0) {
        incrementPage();
        fetch();
      }
    });
  };

  fetch();
</script>