<html>
<head>
  <title>thisiswhatyouaremissing.</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/chosen.css" />
</head>
<body>
  <%= yield %>

  <div id="footer">
    <button id="main-button" class="btn btn-large btn-danger disabled">thisiswhatyouaremissing.</button>
    <div id="select-container">
      <%= erb :select %>
    </div>
  </div>
</body>
</html>

<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script>
  // jQuery
  $('.chzn-select').chosen({
    allow_single_deselect: true,
    no_results_text:       "no results matched."
  });

  $('.chzn-results > li').click(function () {
    $('.search-choice-close').mouseup(function () {
      window.location.hash = "_";
    });
    window.location.hash = "country=" + $(':selected').val();
  });

  $('#main-button').click(function (event) {
    $this = $(this);

    if ($this.hasClass('enabled')) {
      $('#main-button').addClass('disabled');
      $('#main-button').removeClass('enabled');
      
      $('.slot').html('');
      vacancies = initVacancies();
      fetch();

      return false;
    }
    if ($this.hasClass('disabled')) {
      event.preventDefault();

      return false;
    }
  });

  // HELPERS
  var popRandom = function (array) {
    return array.splice(Math.floor(Math.random()*array.length),1);
  };

  var initVacancies = function () {
    var arr = [];
    for (var i = 0; i < $('.slot').length; i+=1) { arr.push(i); }

    return arr;
  };

  // COUNTRY
  var getCountry = function () {
    var hashArr = window.location.hash.split('=');
    var hashIdx = hashArr.indexOf('#country');

    return hashIdx == -1 ? null : hashArr[hashIdx + 1];
  };

  // PAGING
  var page = parseInt(sessionStorage.getItem('page') || 1);

  var incrementPage = function () {
    page = page + 1;
    /*but*/ if (page >= 21) { page = 1; }

    sessionStorage.setItem('page', page);
  };

  // SEARCH WORDS
  var searchWords = <%= yield_content :script %>;
  var unusedWords = sessionStorage.getItem('unusedWords');

  var repopulateUnusedWords = function() {
    unusedWords = []; for (var i = 0; i < searchWords.length; i+=1) { unusedWords.push(i); }
  };

  if (unusedWords) {
    unusedWords = $.map(unusedWords.split(','), function (el, idx) { return parseInt(el); });
  }
  else {
    repopulateUnusedWords();
  }

  var getSearchWord = function () {
    var word = searchWords[popRandom(unusedWords)];

    if (unusedWords.length == 0) {
      incrementPage();
      repopulateUnusedWords();
    }

    sessionStorage.setItem('unusedWords', unusedWords);

    return word;
  };

  // RESULTS
  var requestData = {};

  var vacancies = initVacancies();

  var fetch = function () {
    requestData['page']    = page;
    requestData['query']   = getSearchWord();
    requestData['country'] = getCountry() || "<%= @country %>";

    $.getJSON('/fetch', requestData, function (responseData) {
      $.each(responseData, function (idx, video) {
        if (vacancies.length > 0) {
          var slotId = popRandom(vacancies);

          $('#' + slotId).html(video);
        }
      });

      if (vacancies.length > 0) {
        fetch();
      }
      else {
        $('#main-button').removeClass('disabled');
        $('#main-button').addClass('enabled');
      }
    });
  };

  fetch();
</script>