<% content_for :title do %>get a visa for this is what you are missing.<% end %>

<br />
<div class="copy-container">
  <p class="lead">
  If you would like to view content that has been blocked in your location, you may be able to gain access by using one of the following methods at your own risk:
  </p>

  <div class="copy-sub-container">
    <h2>Virtual Private Network (VPN)</h2>
    <hr/>
    <ul>
      <li>
        <a href="http://www.anchorfree.com/">Hotspot Shield</a> - A free (with limited functionality) cross-platform (Windows, Mac, Android, iPhone) personal VPN service that allows secure browsing and access to restricted content on various <a href="http://www.mefeedia.com/sites">sites</a>.
      </li>
      
      <li>
        <a href="http://www.goldenfrog.com/vyprvpn">VyprVPN</a> - A paid service that offers a fast and secure way to browse the web. VyprVPN replaces your IP address with a VyprVPN IP from one of their own several worldwide VPN clusters.
      </li>
      
      <li>
        <a href="http://www.strongvpn.com/">StrongVPN</a> - A paid VPN service that offers exit points in up to 15 countries, depending on which service package purchased.
      </li>
      
      <li>
        <a href="http://www.hidemyass.com/vpn/">HideMyAss</a> - A paid OpenVPN plus PPTP service with a 30-day money back guarantee.
      </li>
      
      <li>
        <a href="http://www.bolehvpn.net/index.php">BolehVPN</a> - An offshore VPN service to secure your internet browsing, overcome censorship, and accelerate P2P.
      </li>
      
      <li>
        <a href="http://www.dit-inc.us/freegate">Freegate</a> - A Windows-based, anti-censorship software for secure and fast Internet access.
      </li>
    </ul>
  </div>

  <div class="copy-sub-container">
    <h2>Proxy</h2>
    <hr/>
    <ul>
      <li>
        <a href="http://www.proxynova.com/">Proxynova</a> - Provides information on using proxies and lists proxies for use, as well as a <a href="http://www.proxynova.com/unblock-youtube-videos/">service</a> for watching blocked YouTube videos.
      </li>

      <li>
        <a href="https://proxtube.com/index.php">Proxtube</a> - Developed by a German teenager, this add-on for Chrome and Firefox browsers can be used to unblock content. 
      </li>

      <li>
        <a href="https://hidemyass.com/youtube-proxy/">Hidemyass</a> - A portion of the aforementioned site is tailored to watching blocked YouTube content. 
      </li>

      <li>
        <a href="http://unblockyoutube.com/">Unblockyoutube</a> - A site specifically designed to access blocked YouTube content.
      </li>
    </ul>
  </div>
</div>