body, #background-video-container {
  background-color: rgb(15, 15, 15);
}
hr {
  margin: 10px 0;
}
.copy-container {
  max-width: 685px;
  margin: 20px;
  color: ghostwhite;
}
.copy-sub-container {
  margin-bottom: 35px;
}
.name-container {
  margin-bottom: 20px;
}
#footer {
  height: 100px;
  width: 100%;
  position: relative;
  top: 1385px;
}
#footer-content {
  width: 680px;
  margin: auto;
}
#background-video-container, #video-container {
  position: absolute;
  width: 2240px;
  margin: 0 auto;
}
#video-container {
  height: 1360px;
}
#background-video-container {
  height: 1700px;
}
.slot {
  height: 340px;
  width: 560px;
  float: left;
}
#nav {
  float: left;
  line-height: 31px;
}
#controls {
  float: right;
}
#main-button {
  margin: 2px;
}
#select-container {
  float: left;
  margin: 3px;
  text-align: left;
}
.chzn-select {
  width: 300px;
}
#nav a {
  color: gainsboro;
  text-decoration: underline;
  margin: 0px 20px;
}
#nav a:hover {
  color: white;
}
.lead {
  font-size: 18px;
}
#loading {
  height: 31px;
  width: 31px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -15px 0;
  z-index: 2;
}