body, #background-container {
	background-color: black;
}
#container {
	position: absolute;
	top: 100px;
	width: 2240px;
	height: 1360px;
	margin: 0 auto;
}
#background-container {
	height: 1560px;
}
.slot {
	height: 340px;
	width: 560px;
	float: left;
}